* {
  padding: 0;
  margin: 0;
}

body {
  background: #30475e;
}

#title {
  color: white;
  text-align: center;
  margin: 40px;
  font-family: "Barlow Condensed", sans-serif;
}

.content {
  width: 200px;
  background: #f1935c;
  height: 100em;
  position: fixed;
  margin-top: -125px;
  float: left;
  margin-right: 100px;
  padding-top: 200px;
  padding-right: 30px;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  overflow-y: scroll;
}
.content h3 {
  margin-left: 60px;
  margin-bottom: 15px;
}

.content ul li {
  list-style: none;
  margin-left: -20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.content_1 {
  margin-left: 78px;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1935c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 78px;
}
.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.first-section {
  color: white;
  margin-left: 40px;
  background: #ba6b57;
  padding: 30px;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
}

.first-section ul li {
  border: 1px solid;
  width: 20%;
  margin-left: 200px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  color: #30475e;
  border: 1px solid;
  margin-bottom: 5px;
  width: 100px;
  text-align: center;
}

.semantic-tag-name {
  margin-left: -45px;
}

a {
  text-decoration: none;
  color: #30475e;
}

a:hover {
  /* border: 1px solid #30475e; */
  padding: 10px;
  background: #e7b2a5;
  transition: 0.5s;
}

.second-section,
.third-section,
.fourth-section {
  color: white;
  margin-left: 40px;
  background: #ba6b57;
  padding: 30px;
  line-height: 1.5;
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 20px;
}

.blog-tag-name {
  margin-left: 50px;
}

.main {
  margin-left: 210px;
}
